/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


.display_none {
  display: none;
}
.custom_searchModule {
  display: none;
  z-index: 2;
  position: absolute;
  right: 0px;
  padding: 5px 20px;
  min-width: 600px;
}

ul.store-opening-hrs, ul.storename {
    padding-left: 0px!important;
}
.custom_searchHeader i {
  cursor: pointer;
}

input#gform_submit_button_25 {
  border-radius: 0px;
  background: #a51c2a;
  border-color: #a51c2a;
  color: #ffffff;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 180px;
  min-height: 45px;
}
input#gform_submit_button_25:hover {
  color: #ffffff;
  background: #0147b9;
  border-color: #0147b9;
}

html.chrome .bx-wrapper .bx-loading {
  display: none;
}
html.chrome .fl-content-slider .bx-wrapper .fl-slide {
  visibility: visible;
}
.button-wrapper a {
    text-transform: uppercase!important;
}
.product-colors li.found {
    margin-right: 5px!important;
}
* Firefox browser * html.firefox .bx-wrapper .bx-loading {
  display: none;
}
html.firefox .fl-content-slider .bx-wrapper .fl-slide {
  visibility: visible;
}
.fl-slide .fl-slide-text > p {
  margin: 0 !important;
}
.fl-post-image-beside {
  width: 100% !important;
}

.search-row .product-row .btn-grey a.link.plp-view-product {
  display: block !important;
  margin-top: -10px;
  font-family: "adriane-text Bold", Verdana, Arial, sans-serif;
}
#moove_gdpr_cookie_info_bar p {
  color: #f0ebe1 !important;
  font-family: "adriane-text Bold", Verdana, Arial, sans-serif;
}
#moove_gdpr_cookie_info_bar .moove-gdpr-button-holder > button {
  background-color: #14234b !important;
  color: #f0ebe1 !important;
  font-family: "adriane-text Bold", Verdana, Arial, sans-serif;
  text-transform: uppercase !important;
  border-radius: 0px !important;
  letter-spacing: 1px !important;
}
#moove_gdpr_cookie_info_bar .moove-gdpr-button-holder > button:hover {
  background-color: #2d3a5e !important;
  color: #f0ebe1 !important;
}
.gform_wrapper .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type="checkbox"],
.gform_wrapper.gf_browser_chrome .gfield_radio li input[type="radio"] {
  margin-top: 0px !important;
}
.gfield input[type="text"] {
  width: 100% !important;
}
.gfield {
  padding-right: 15px !important;
}
.pdpGalleryImagePopup .closePopup>span {
    line-height: 1.6em;
}
/* .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    padding: 0 !important;
} */
/* .slick-track {
  display: flex !important;
  align-items: center;
} */
a.link.plp-view-product {
  color: #fff !important;
  background-color: #14234b !important;
  font-family: "Gibson Regular", Verdana, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  text-transform: none;
  border-style: none;
  border-width: 0px;
  border-color: initial;
  border-radius: 0px;
  padding: 12px 24px;
  text-decoration: none !important;
}
a.link.plp-view-product:hover {
  background-color: #2d3a5e !important;
}
header .phone span:before {
  content: "\f1f8";
  font-family: "foundation-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  margin-right: 5px;
  font-size: 20px;
  vertical-align: middle;
}
header p.inline_address {
  margin: 0px !important;
}
header ul#menu-top-bar-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header ul#menu-top-bar-menu:before,
ul#menu-top-bar-menu:after {
  display: none;
}
.storHour .store-opening-hrs {
  text-align: center;
  padding: 0;
  list-style: none;
}
.storHour ul.store-opening-hrs li {
  font-weight: 600;
}

ul.store-opening-hrs li > span {
  font-weight: 500;
}
.storename .address a > p {
  margin-bottom: 4px !important;
}
.gform_wrapper .ginput_container_time input,
.gform_wrapper .ginput_container_time select {
  padding: 5px !important;
}
.ginput_container_time select {
  min-width: 60px !important;
  width: 60px !important;
}
.product-box .button-wrapper .getcoupon-btn:hover {
  border: 1px solid #ccc;
}
#breadcrumbs {
  padding: 4px 0 !important;
  font-size: 16px !important;
}
.uabb-photo-caption,
.uabb-photo-caption > p,
.fl-photo-caption,
.fl-photo-caption > p {
  font-size: 16px !important;
}
.product-grid.btn-grey > h4 > span,
.color-box small,
.product-grid .fl-button-text,
.color_variations_slider .color-boxs-inners small,
.product-grid.btn-grey .product-variations1 > h5 {
  font-size: 14px !important;
}
/* .betterParalax .fl-row-content-wrap{
	background-position: center bottom!important;
} */

header .inline_address a:before {
  content: "\f041";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  margin-right: 5px;
  font-size: 20px;
}
header .phone span {
  display: flex;
  align-items: center;
}

.facet_filters .facet-wrap > strong {
  padding-bottom: 3px;
  border-bottom: 2px solid #0147b9;
  color: #0147b9;
}

.facetwp-selections ul:before {
  content: "YOUR SELECTION";
  font-weight: 700;
  font-size: 16px;
  border-bottom: 2px solid #0147b9;
  padding: 0px;
  width: 100% !important;
  position: relative;
  display: block;
  margin-bottom: 5px;
  color: #0147b9;
  padding: 5px 5px 5px 0px;
}

.facetwp-selections ul {
  padding-bottom: 20px;
  padding-left: 0;
}
.galleryTabs .uabb-photo-gallery .uabb-photo-gallery-item {
    position: static!important;
    left: auto!important;
    right: auto!important;
    text-align: center;
}

.galleryTabs .uabb-module-content.uabb-photo-gallery {
    height: auto!important;
}
ul.storename  .address a:hover p, ul.storename  .phone a:hover  {
    color: #000;
}
footer ul.storename  .phone a:hover  {
    color: #0147b9;
}
header ul.storename a {
    line-height: 1.4em!important;
}




#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
  background-color: #0147B9;
  border-top: 1px solid #fff;
}


#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
  color: #f5f5f5 !important;
  opacity: 0.7;
}

.moove-gdpr-button-holder>button.mgbutton {
  background-color: #a51c2a !important;
  color: #fff !important;
  border-radius: 0px!important;
  font-family: "Montserrat",sans-serif!important;
  font-weight: 500!important;
  text-transform: uppercase!important;
  box-shadow: none !important;
  border: none!important;
}
.moove-gdpr-button-holder>button.mgbutton:hover {
  background: #0147b9  !important;
  color: #fff!important;
  text-transform: uppercase!important;
  border-color: #0147b9  !important;
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button {
  color: #000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon {
  background-color: #a51c2a !important;
  border: 1px solid #fff !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i:hover, 
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href]>u.change-settings-button {
  color: #fff !important;
  background-color: #0147b9  !important;
}
button.moove-gdpr-infobar-close-btn:hover i {
  color: #0147b9  !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
  background-color: #a51c2a !important;
  color: #fff!important;  
  border: 0px!important;
  border-radius: 0px!important;
  font-family: "Montserrat",sans-serif!important;
  font-weight: 500!important;
  text-transform: uppercase!important;  
    
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
  background: #0147b9  !important;
  color: #fff !important;
  border: 0px!important;
}

.moove-gdpr-tab-main-content a:hover {
  color: #a51c2a !important;
}
.facet_wrap button,
.page-info .pagination_wrapper>div button, 
div#mm-product-list .facet_wrap button, 
.products-list .product-plp-grid.product-grid.swatch.facetwp-template1 .fl-button,
div#mm-product-details .product-detail-layout-6 .button-wrapper a, 
.row.search-row .posts_search_result .product-item a.fl-button, 
div#search-result-page .product-plp-grid  .product-item .fl-post-grid-post .fl-post-grid-text .fl-button {
    background: #a51c2a!important;
    color: #fff!important;
    border: none;
    text-transform: uppercase!important;
        font-family: "adriane-text Bold", Verdana, Arial, sans-serif;
    font-weight: 400;
}

.facet_wrap button:hover,
.page-info .pagination_wrapper>div button:hover, 
div#mm-product-list .facet_wrap button:hover, 
.products-list .product-plp-grid.product-grid.swatch.facetwp-template1 .fl-button:hover,
div#mm-product-details .product-detail-layout-6 .button-wrapper a:hover, 
.row.search-row .posts_search_result .product-item a.fl-button:hover, 
div#search-result-page .product-plp-grid  .product-item .fl-post-grid-post .fl-post-grid-text .fl-button:hover {
    background: #0147b9!important;
    color: #fff!important;
    border: none;
    text-transform: uppercase!important;
}


@media (min-width: 992px) {

  .product-detail-layout-6 .product-variations .slick-slider .slick-arrow {
    top: 18px !important;
  }

  .product-detail-layout-6 .product-variations .color-boxs-inners small {
    min-height: 30px;
    display: block;
  }

  .container .row .product-detail-layout-6 .color-box {
    margin-bottom: 10px;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .bannerHome .fl-module-content {
    margin-left: 150px !important;
    margin-right: 150px !important;
  }
}
@media (max-width: 1024px) {
  header .uabb-creative-menu .menu > li > .uabb-has-submenu-container > a,
  header .uabb-creative-menu .menu > li > a,
  header .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a,
  header .uabb-creative-menu .sub-menu > li > a {
    font-size: 14px !important;
  }
}
@media (min-width: 992px) {
  .fl-page-header-fixed #menu-main-menu {
    text-align: right;
  }
  .fl-page-header-fixed .fl-page-nav ul.navbar-nav > li {
    display: inline-block !important;
    float: none !important;
  }
  .fl-page-header-fixed .fl-page-header-wrap .fl-page-header-container {
    width: 100% !important;
  }
  .fl-page-nav-right.fl-page-header-fixed .fl-logo-img,
  .fl-page-header-fixed .fl-logo-img {
    min-height: 87px !important;
  }
  .navbar .nav .menu-item-has-children > a:after {
    font-size: 13px !important;
  }
  .fl-page-nav ul.sub-menu {
    border-top: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .ipadLan > .fl-col-content {
    margin-left: 20px !important;
  }
  .marginTop .fl-col-content {
    margin-top: 0px !important;
  }
  .fl-page-nav-right.fl-page-header-fixed .fl-logo-img,
  .fl-page-header-fixed .fl-logo-img {
    min-height: 67px !important;
  }
}
@media (max-width: 992px) {
  header ul#menu-top-bar-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .listStyleNone {
    list-style: none;
  }
  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    margin: 0 !important;
    padding: 0px !important;
  }

  .fl-slide-1 .fl-slide-foreground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobileCenter {
    text-align: center !important;
  }
  #menu-copyright-bar-menu {
    width: 100%;
    text-align: center;
  }
  .custom_searchModule {
    max-width: 100% !important;
    min-width: 100% !important;
  }
  .open_sidebar {
    width: auto !important;
    max-width: 120px !important;
    margin: 0 auto;
  }
}

/* Slider height issue on mobile */
@media (max-width: 992px) {
  .fl-content-slider .fl-slide-bg-photo {
    position: absolute !important;
    min-height: 500px !important;
  }
  .fl-content-slider
    .fl-slide-foreground
    .fl-builder-content
    .fl-row
    > .fl-row-content-wrap {
    min-height: 500px;
  }
  .fl-slide-mobile-photo {
    z-index: +2;
    position: relative;
    max-height: 500px !important;
    text-align: center !important;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .fl-slide-mobile-photo > img {
    padding: 50px;
    max-height: 500px !important;
    width: auto;
    margin: 0 auto;
  }
  .fl-content-slider .fl-slide {
    min-height: 500px !important;
    max-height: 500px !important;
  }
  .product-attributes table {
    table-layout: fixed !important;
  }
  .fl-content-slider .fl-slide-bg-link {
    z-index: +2;
  }

  .fl-tabs-panel-content .fl-col.fl-col-small {
    max-width: 100%;
  }

  .fl-row-bg-overlay > .fl-row-content-wrap,
  .default-form > .fl-row-content-wrap {
    min-height: 400px !important;
    padding: 20px 0 !important;
  }

  .fl-row-bg-overlay .fl-row-content,
  .default-form .fl-row-content,
  .fl-tabs-panel-content .fl-row-content {
    z-index: 2;
  }

  .fl-row-bg-overlay > .fl-row-content-wrap:after,
  .fl-tabs-panel-content .fl-row-content-wrap:after,
  .default-form .fl-row-content-wrap:after {
    border-radius: inherit;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.35);
  }

  ul,
  ol {
    padding-left: 20px;
    margin: 0;
  }
  .fl-page-content .uabb-module-content.uabb-infobox *,
  .fl-page-content .fl-module.fl-module-uabb-heading *,
  .fl-page-content .uabb-module-content.uabb-infobox.infobox-left,
  .fl-page-content .uabb-module-content.uabb-infobox.infobox-left *,
  .fl-page-content .fl-module-heading .fl-heading,
  .fl-page-content .fl-rich-text,
  .fl-page-content .fl-rich-text *,
  .fl-page-content .review-wrap,
  .fl-page-content .fl-builder-content .fl-button-left,
  .fl-page-content .fl-cta-left *,
  .fl-page-content .fl-module-content .fl-rich-text ul.storename,
  .fl-page-content .fl-module-content .fl-rich-text ul.storename *,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ul,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ul *,
  .fl-page-content .fl-module-content ul.storename,
  .uabb-module-content.uabb-button-wrap,
  .fl-page-content .fl-html,
  footer * {
    text-align: center !important;
  }

  .fl-page-content .fl-module-content .fl-rich-text ul,
  .fl-page-content .fl-module-content .fl-rich-text ol,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ul,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ol {
    margin: 0;
    padding-left: 20px;
  }

  .fl-page-content .fl-module-content .fl-rich-text ul *,
  .fl-page-content .fl-module-content .fl-rich-text ol *,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ul *,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ol *,
  .fl-page-content .text_left_content .fl-rich-text *,
  .fl-page-content .text_left_content .fl-rich-text *,
  .fl-page-content .facet_filters .fl-html * {
    text-align: left !important;
  }
  footer .fl-col {
    width: 100% !important;
    max-width: 100% !important;
  }
  ul#menu-copyright-bar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  ul#menu-copyright-bar-menu li a {
    color: #212121;
  }
  ul#menu-copyright-bar-menu li a:hover {
    color: #a51c2a;
  }

  /* PLP Page Css iPad Air */
  .open_sidebar {
    overflow: hidden;
    margin-bottom: 20px;
  }

  .open_sidebar a {
    float: unset;
  }

  .facet_filters .close_bar,
  .open_sidebar,
  .close_sidebar_button {
    display: none;
  }

  #product-list-top-filters .fl-col-group .fl-col {
    width: 100% !important;
    text-align: center;
    max-width: 100%;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts,
  .facetwp-pager,
  .facetwp-per-page,
  .open_sidebar {
    text-align: center !important;
  }
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .open_sidebar {
    max-width: 160px;
    margin: 0 auto;
  }
  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar {
    background-color: #008c8c;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    display: block;
    margin-bottom: 20px;
  }

  .facet_filters .close_bar .close {
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    float: right;
    color: #fff;
    opacity: 1;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: left !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 33.33%;
    float: left;
    clear: none !important;
  }
  .product-detail-layout-6 .product-box .row:first-child .col-md-6:first-child {
    width: 100% !important;
    text-align: center !important;
  }
  .product-detail-layout-6
    .product-box
    .row:first-child
    .col-md-6:nth-child(2) {
    width: 100% !important;
    text-align: center !important;
  }
  .product-detail-layout-6 .toggle-image-thumbnails {
    align-items: center !important;
    justify-content: center !important;
  }

  .facetwp-per-page select {
    border: 1px solid #000;
  }

  /* PLP Page Css iPad Air */
}

@media (max-width: 480px) {
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 100% !important;
    clear: left !important;
  }
}
 .facetwp-selections ul:before, div#mm-product-list .product-list-container .facet_filters strong {
    border-bottom: 2px solid #a51c2a !important;
    color: #a51c2a !important;
}

div#mm-product-details .product-detail-layout-6 .product_gallery_slider div.toggle-image-thumbnails{
    margin-top: 20px !important;
}
div#mm-product-details .product-detail-layout-6 .toggle-image-thumbnails .toggle-image-holder a{
    width: 100px !important;
    height: 100px !important;
    border-radius: 0;
}